body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    }
    /**Perezavantagennya ctuliv-----*/
    p, h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding-left: 0;
    }

    .container{
        width: 100%;
        max-width: 1158px;
        /* padding-left: 15px; */
        /* padding-right: 15px; */
        margin: 0 auto;
        outline: 2px solid red;
    }
    

    :root {
    --title-color: #2E2F42;
    --text-color: #434455;
    --logo-color: #4d5ae5;
    }
    
    /**-------Bez krapok v spiskax-----*/
    .list {
        list-style: none;
    }

    /**--------Bez pidkreslenya--------*/
    .link {
    text-decoration: none;    
    }
    
    .section-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--title-color);
    }

    .section-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
    }

    /**------INDEX-----Header------------*/
    .header {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .header-navigation {
        display: flex;
    }
    
    .header-container {
        display: flex;
        align-items: center;
    }


    .header-logo {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--logo-color);
        text-transform: uppercase;
        text-decoration: none;
    }
    .header-logo {
        color: #4D5AE5;
    }
    .span-header {
        color: var(--title-color);
    }    
    .header-menu {
        display: flex;
        gap: 40px;
        margin-left: 76px;
    }
    .header-menu-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--title-color);
        text-decoration: none;
    }
    .header-menu-link {
        color:var(--title-color);
    }

    .header-menu-link:hover, .header-menu-link:focus {
        color: #404bbf;
    }

    .header-address {
        font-style: normal;
    }
    .header-address-menu {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
        display: flex;
        margin-left: 332px;
        gap: 40px;
    }
    .address-item {}
    .address-link {
        color: var(--text-color);
    }
    .address-link:hover, .address-link:focus {
        color: #404bbf;
    }

    /*todo----INDEX----Main-------------*/

    /**-------INDEX---Section 1---------*/
    .reclama {
        background-color: var(--title-color);
    }
    .reclama-effective {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        text-align: center;
    }
    .reclama-btn {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        cursor: pointer;
        background-color: var(--logo-color);
    }

    .reclama-btn:hover, .reclama-btn:focus {
        background-color: #404bbf;
    }

    /**-------INDEX---Section 2---------*/
    .directions {}
    .directions-title {}
    .directions-menu {}
    .directions-item {}
    .directions-subtitle {}
    .directions-subtext {}
    
    /**-------INDEX---Section 3---------*/
    .doing {}
    .doing-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--title-color);
        text-align: center;
    }
    .doing-menu {}
    .doing-item {}
    
    /**-------INDEX---Section 4---------*/
    .team {
        background-color: #F4F4FD;
    }
    .team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--title-color);
        text-align: center;
    }
    .team-menu {}
    .team-item {
        background-color: #FFFFFF;
    }
    .team-subtitle {}
    .team-subtext {}
    
    /**-------INDEX---Footer---------*/
    .footer {
        font-family: 'Raleway', sans-serif;
        background-color: var(--title-color);
    }
    .footer-logo {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--logo-color);
        text-decoration: none;
    }
    .footer-logo {
        color: var(--logo-color);
    }
    .footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
    }
    .span-footer {
        color: #F4F4FD;
    }

    /**---PORTFOLIO------Header---------*/
    
    .p-header-menu {}
    .p-header-menu-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--title-color);
        text-decoration: none;
    }
    .p-header-menu-link {
        color: var(--title-color);
    }
    .p-header-menu-link:hover, .p-header-menu-link:focus {
        color: #404bbf;
    }
    .p-header-address {
        font-style: normal;
    }
    .p-header-address-menu {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal;
    }
    .p-address-item {
        color: var(--text-color);
    }
    .p-address-link {
        color: var(--text-color);
    }
    .p-address-link:hover, .p-address-link:focus {
        color: #404bbf;
    }
    
    /**---PORTFOLIO------Block1------------*/
    .button-menu {
        list-style: none;
    }
    .button-menu-item {}

    .button-menu-general {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--logo-color);
        cursor: pointer;
        background-color: #F4F4FD;
    }

    .button-menu-general:hover, .button-menu-general:focus {
        color: #FFFFFF;
        background-color: #404bbf;
    }

    /**---PORTFOLIO------Block 2-4----------*/
    
    .section-menu {
        list-style: none;
    }
    .section-item {}
    .block {
        text-decoration: none;
    }
    .block-title {}
    .block-text {}
    

    
    /**---PORTFOLIO------Footer-------------*/
    
    
